// mixin
@mixin flex-full-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-full-stretch {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

@mixin flex-column {
    flex-direction: column;
}

@mixin flex-start {
    display: flex;
    align-items: start;
}

@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin transition {
    transition: .3s ease;
}
// mixin

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

img {
    max-width: 100%;
}

span, label {
    display: inline-block;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    background: #F9F9F9;
}

body.active {
    overflow-y: hidden;
}

input {
    outline: none;
}

button {
    border: none;
    cursor: pointer;
    background: transparent;
    outline: 0;
}

address {
    font-style: normal;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.main_btn {
    font-size: 16.17px;
    font-weight: 600;
    line-height: 24.26px;
    height: 57px;
    padding: 15px 25px;
    border-radius: 16px;
    color: #FFFFFF;
    background: #141416;
}

.main_btn_two {
    background: transparent;
    border: 1px solid #141416;
    color: #141416;
    font-size: 16.17px;
    font-weight: 600;
    line-height: 24.26px;
    height: 57px;
    padding: 15px 25px;
    border-radius: 16px;
}

.main_container {
    max-width: 1305px;
    padding: 0 30px;
    margin: 0 auto;
}

// bootstrap
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
label {
    padding: 0;
    margin: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
// bootstrap

.home_slider_btns {
    padding: 21px;
    border-radius: 17.25px;
    box-shadow: 0px 43.12px 34.49px -25.87px rgba(15, 15, 15, 0.22);
    background: rgb(252, 252, 253);
    @include flex-center();
    gap: 25px;

    span {
        width: 2px;
        color: #E6E8EC;
    }

    .swiper-button-disabled {
        svg {
            path {
                fill: #929292;
            }
        }
    }
}


.main_card {
    padding: 15px;
    border-radius: 23.48px;
    box-shadow: 38.82px 11.76px 58.81px 0px rgba(199, 199, 199, 0.6);
    background: rgb(255, 255, 255);

    .main_card_img {
        img {
            width: 100%;
        }

        .main_card_img_text {
            top: 15px;
            right: 10px;
            font-size: 14.12px;
            font-weight: 500;
            line-height: 21.17px;
            letter-spacing: 0.11762604117393494px;  
            color: #FFFFFF;
            border-radius: 10px;
            padding: 9px 15px;
            box-shadow: 0px 4.71px 14.12px 0px rgba(28, 29, 32, 0.08);
            backdrop-filter: blur(4.71px);
            background: rgba(28, 29, 32, 0.35);
        }
    }

    h6 {
        font-size: 21.17px;
        font-weight: 600;
        line-height: 29.64px;
        color: #141416;
        margin: 18px 0 14px;
    }

    .main_card_bottom_text {
        gap: 5px;
    }

    .main_card_icon {
        h6 {
            margin: 0;
            font-size: 16.47px;
            font-weight: 500;
            line-height: 24.7px;
            color: #141416;
        }
    }
}

// header
header {
    margin-top: 46px;

    nav {
        gap: 57px;
    }

    .header_logo {
        flex-shrink: 0;
    }

    ul {
        gap: 53px;

        a {
            font-family: 'Inter', sans-serif;
            font-size: 17.83px;
            font-weight: 500;
            line-height: 26.74px;
            color: #606060;
        }
    }

    .header_search {
        label {
            height: 57px;
            background: #EDEDED;
            border-radius: 14px;
            padding: 18px 22px;
            gap: 25px;
        }

        input {
            background: transparent;
            border: none;
        }
    }

    .header_btns {
        gap: 30px;
    }
}
// header

.media_menu {
    position: fixed;
    height: 100%;
    z-index: 4;
    background: #fff;
    padding: 40px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    @include transition();
    left: -100%;

    .close_btn {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 15px;

        a {
            font-family: 'Inter', sans-serif;
            font-size: 17.83px;
            font-weight: 500;
            line-height: 26.74px;
            color: #606060;
        }
    }


    .header_search {
        label {
            height: 57px;
            background: #EDEDED;
            border-radius: 14px;
            padding: 18px 22px;
            gap: 25px;
        }

        input {
            background: transparent;
            border: none;
        }
    }
}

.media_menu.active {
    left: 0;
}

// home
.home {
    padding: 110px 0 150px;


    .home_text {
        max-width: 568px;
    }

    .home_btns {
        gap: 23px;
    }

    .home_bg {
        right: 0;
    }

    .line {
        width: 195px;
        height: 1px;
        background: #201F1F;
        opacity: 0.2;
    }

    h1 {
        margin: 10px 0 16px;
        font-size: 75px;
        font-weight: 600;
        line-height: 90px;
        letter-spacing: -3px;
        color: #141416;
    }

    p {
        font-family: 'Inter', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
    }

    .home_btns {
        margin: 45px 0 82px;
    }

    .home_statistic {
        gap: 65px;

        h6 {
            font-size: 36.77px;
            font-weight: 600;
            line-height: 45.96px;
            color: #141416;
        }

        span {
            width: auto;
            font-family: 'Inter',sans-serif;
            font-size: 12.26px;
            font-weight: 500;
            line-height: 18.39px;
            margin-top: 6px;
        }
    }

    .home_slider {
        max-width: 391px;
        gap: 50px;

        .homeSwiper {
            width: 100%;

            img {
                width: 100%;
                border-radius: 25px;
            }
        }
    }
}
// home

// nft
.nft {
    background: #F1F1F1;
    padding: 70px 0;

    h3 {
        font-size: 45px;
        font-weight: 600;
        line-height: 26.92px;
        color: #C5C5C5;
        margin-bottom: 70px;
        text-align: center;
    }

    .nftSwiper {
        padding: 50px 0;
    }

    .home_slider_btns {
        margin: 50px auto 0;
        width: 166px;
        @include flex-full-center();
    }
}
// nft

// marketplace
.marketplace {
    padding: 132px 0;
    
    h3 {
        font-size: 45px;
        font-weight: 600;
        line-height: 26.92px;
        color: #C5C5C5;
        margin-bottom: 70px;
        text-align: center;
    }

    .marketplace_btns {
        @include flex-full-center();
        gap: 22px;
        margin-bottom: 100px;

        button {
            gap: 9px;
        }
    }

    .marketplace_cards {
        flex-wrap: wrap;
        gap: 65px 40px;
    }

    .main_card {
        width: calc(100% / 4 - 30px);
    }

    .marketplace_cards_link {
        margin-top: 100px;
        a {
            font-size: 17.67px;
            font-weight: 500;
            line-height: 39.92px;
            letter-spacing: -0.08835016191005707px;
            @include flex-center();
            gap: 15px;
            color: #ACADB9;
        }
    }
}
// marketplace

// create
.create {
    margin-bottom: 100px;

    .create_blocks {
        border-radius: 40px;
        background: #141416;
    }

    .create_img {
        margin: 30px 45px;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 18.82px 11.76px 58.81px 0px rgba(189, 124, 34, 0.4);
    }

    h3 {
        font-size: 45px;
        font-weight: 600;
        line-height: 58.5px;
        letter-spacing: 0.01em;
        margin-bottom: 12px;
        color: #FFFFFF;
    }

    p {
        font-size: 20.27px;
        font-weight: 500;
        line-height: 26.35px;
        letter-spacing: 0.01em;
        color: #D4D4D4;
        margin-bottom: 50px;
    }

    .create_text {
        padding: 45px 66px;
    }

    .create_btns {
        gap: 30px;
    }

    .main_btn_two {
        color: #FFFFFF;
        border: 1px solid #FFFFFF;
    }

    .main_btn {
        color: #141416;
        background: #ffff;
    }
}
// create

// footer
footer {
    background: #141416;
    padding: 80px 0;

    .footer_top {
        padding-bottom: 25px;
        border-bottom: 1px solid #818181;
    }

    .footer_link {
        gap: 60px;
        
        a {
            font-family: 'Inter',sans-serif;
            font-size: 17.83px;
            font-weight: 500;
            line-height: 26.74px;
            color: #B9B9B9;
        }
    }

    .footer_bottom {
        margin-top: 25px;

        p {
            font-size: 17px;
            font-weight: 500;
            line-height: 25px;
            color: #999999;
        }

        .social_media {
            gap: 50px;
        }
    }
}
// footer


@import './responsive';