* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  background: #F9F9F9;
}

input {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0;
}

address {
  font-style: normal;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.main_btn {
  font-size: 16.17px;
  font-weight: 600;
  line-height: 24.26px;
  height: 57px;
  padding: 15px 25px;
  border-radius: 16px;
  color: #FFFFFF;
  background: #141416;
}

.main_btn_two {
  background: transparent;
  border: 1px solid #141416;
  color: #141416;
  font-size: 16.17px;
  font-weight: 600;
  line-height: 24.26px;
  height: 57px;
  padding: 15px 25px;
  border-radius: 16px;
}

.main_container {
  max-width: 1305px;
  padding: 0 30px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
label {
  padding: 0;
  margin: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.home_slider_btns {
  padding: 21px;
  border-radius: 17.25px;
  box-shadow: 0px 43.12px 34.49px -25.87px rgba(15, 15, 15, 0.22);
  background: rgb(252, 252, 253);
  display: flex;
  align-items: center;
  gap: 25px;
}
.home_slider_btns span {
  width: 2px;
  color: #E6E8EC;
}
.home_slider_btns .swiper-button-disabled svg path {
  fill: #929292;
}

.main_card {
  padding: 15px;
  border-radius: 23.48px;
  box-shadow: 38.82px 11.76px 58.81px 0px rgba(199, 199, 199, 0.6);
  background: rgb(255, 255, 255);
}
.main_card .main_card_img img {
  width: 100%;
}
.main_card .main_card_img .main_card_img_text {
  top: 15px;
  right: 10px;
  font-size: 14.12px;
  font-weight: 500;
  line-height: 21.17px;
  letter-spacing: 0.1176260412px;
  color: #FFFFFF;
  border-radius: 10px;
  padding: 9px 15px;
  box-shadow: 0px 4.71px 14.12px 0px rgba(28, 29, 32, 0.08);
  -webkit-backdrop-filter: blur(4.71px);
          backdrop-filter: blur(4.71px);
  background: rgba(28, 29, 32, 0.35);
}
.main_card h6 {
  font-size: 21.17px;
  font-weight: 600;
  line-height: 29.64px;
  color: #141416;
  margin: 18px 0 14px;
}
.main_card .main_card_bottom_text {
  gap: 5px;
}
.main_card .main_card_icon h6 {
  margin: 0;
  font-size: 16.47px;
  font-weight: 500;
  line-height: 24.7px;
  color: #141416;
}

header {
  margin-top: 46px;
}
header nav {
  gap: 57px;
}
header .header_logo {
  flex-shrink: 0;
}
header ul {
  gap: 53px;
}
header ul a {
  font-family: "Inter", sans-serif;
  font-size: 17.83px;
  font-weight: 500;
  line-height: 26.74px;
  color: #606060;
}
header .header_search label {
  height: 57px;
  background: #EDEDED;
  border-radius: 14px;
  padding: 18px 22px;
  gap: 25px;
}
header .header_search input {
  background: transparent;
  border: none;
}
header .header_btns {
  gap: 30px;
}

.home {
  padding: 110px 0 150px;
}
.home .home_text {
  max-width: 568px;
}
.home .home_btns {
  gap: 23px;
}
.home .home_bg {
  right: 0;
}
.home .line {
  width: 195px;
  height: 1px;
  background: #201F1F;
  opacity: 0.2;
}
.home h1 {
  margin: 10px 0 16px;
  font-size: 75px;
  font-weight: 600;
  line-height: 90px;
  letter-spacing: -3px;
  color: #141416;
}
.home p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.home .home_btns {
  margin: 45px 0 82px;
}
.home .home_statistic {
  gap: 65px;
}
.home .home_statistic h6 {
  font-size: 36.77px;
  font-weight: 600;
  line-height: 45.96px;
  color: #141416;
}
.home .home_statistic span {
  width: auto;
  font-family: "Inter", sans-serif;
  font-size: 12.26px;
  font-weight: 500;
  line-height: 18.39px;
  margin-top: 6px;
}
.home .home_slider {
  max-width: 391px;
  gap: 50px;
}
.home .home_slider .homeSwiper {
  width: 100%;
}
.home .home_slider .homeSwiper img {
  width: 100%;
  border-radius: 25px;
}

.nft {
  background: #F1F1F1;
  padding: 70px 0;
}
.nft h3 {
  font-size: 45px;
  font-weight: 600;
  line-height: 26.92px;
  color: #C5C5C5;
  margin-bottom: 70px;
  text-align: center;
}
.nft .nftSwiper {
  padding: 50px 0;
}
.nft .home_slider_btns {
  margin: 50px auto 0;
  width: 166px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.marketplace {
  padding: 132px 0;
}
.marketplace h3 {
  font-size: 45px;
  font-weight: 600;
  line-height: 26.92px;
  color: #C5C5C5;
  margin-bottom: 70px;
  text-align: center;
}
.marketplace .marketplace_btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
  margin-bottom: 100px;
}
.marketplace .marketplace_btns button {
  gap: 9px;
}
.marketplace .marketplace_cards {
  flex-wrap: wrap;
  gap: 65px 40px;
}
.marketplace .main_card {
  width: calc(25% - 30px);
}
.marketplace .marketplace_cards_link {
  margin-top: 100px;
}
.marketplace .marketplace_cards_link a {
  font-size: 17.67px;
  font-weight: 500;
  line-height: 39.92px;
  letter-spacing: -0.0883501619px;
  display: flex;
  align-items: center;
  gap: 15px;
  color: #ACADB9;
}

.create {
  margin-bottom: 100px;
}
.create .create_blocks {
  border-radius: 40px;
  background: #141416;
}
.create .create_img {
  margin: 30px 45px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 18.82px 11.76px 58.81px 0px rgba(189, 124, 34, 0.4);
}
.create h3 {
  font-size: 45px;
  font-weight: 600;
  line-height: 58.5px;
  letter-spacing: 0.01em;
  margin-bottom: 12px;
  color: #FFFFFF;
}
.create p {
  font-size: 20.27px;
  font-weight: 500;
  line-height: 26.35px;
  letter-spacing: 0.01em;
  color: #D4D4D4;
  margin-bottom: 50px;
}
.create .create_text {
  padding: 45px 66px;
}
.create .create_btns {
  gap: 30px;
}
.create .main_btn_two {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}
.create .main_btn {
  color: #141416;
  background: white;
}

footer {
  background: #141416;
  padding: 80px 0;
}
footer .footer_top {
  padding-bottom: 25px;
  border-bottom: 1px solid #818181;
}
footer .footer_link {
  gap: 60px;
}
footer .footer_link a {
  font-family: "Inter", sans-serif;
  font-size: 17.83px;
  font-weight: 500;
  line-height: 26.74px;
  color: #B9B9B9;
}
footer .footer_bottom {
  margin-top: 25px;
}
footer .footer_bottom p {
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  color: #999999;
}
footer .footer_bottom .social_media {
  gap: 50px;
}

@media only screen and (max-width: 1200px) {
  header ul {
    gap: 30px;
  }
}
@media only screen and (max-width: 993px) {
  header {
    margin: 0;
  }
  header nav ul {
    display: none !important;
  }
  header .main_container {
    padding: 30px 0;
    margin: 0 30px;
    border-bottom: 1px solid #CBCBCB;
  }
  .home {
    padding: 50px 0;
    text-align: center;
  }
  .home .home_bg {
    bottom: 0;
  }
  .home h1 {
    font-size: 47px;
    line-height: 57px;
  }
  .home p {
    font-size: 11px;
    line-height: 12px;
  }
  .home .home_statistic {
    gap: 25px;
    justify-content: center;
  }
  .home .home_statistic h6 {
    font-size: 25px;
    line-height: 30px;
  }
  .home .home_btns {
    margin: 20px 0;
    justify-content: center;
  }
  .nft h3 {
    font-size: 30px;
    line-height: 47px;
    margin-bottom: 15px;
  }
  .nft .home_slider_btns {
    margin: 15px auto 0 auto;
  }
  .nft .main_btn {
    border-radius: 5px;
    height: 40px;
    font-size: 9px;
    line-height: 15px;
    padding: 5px 20px;
  }
  .marketplace {
    padding: 50px 0;
  }
  .marketplace h3 {
    font-size: 30px;
    line-height: 47px;
    margin-bottom: 15px;
  }
  .marketplace .marketplace_btns {
    gap: 10px;
    margin-bottom: 30px;
  }
  .marketplace .marketplace_btns button {
    border-radius: 5px;
    height: 40px;
    padding: 5px 10px;
  }
  .marketplace .marketplace_cards {
    gap: 30px;
  }
  .marketplace .main_card {
    width: calc(33.3333333333% - 20px);
  }
  .marketplace .main_card .main_btn {
    border-radius: 5px;
    height: 40px;
    font-size: 9px;
    line-height: 15px;
    padding: 5px 20px;
  }
  .marketplace .marketplace_cards_link {
    margin-top: 20px;
  }
  .create {
    position: relative;
    margin-bottom: 250px;
  }
  .create h3 {
    font-size: 30px;
    line-height: 47px;
    margin-bottom: 15px;
  }
  .create p {
    font-size: 11px;
    line-height: 12px;
    margin-bottom: 20px;
  }
  .create .create_blocks {
    padding: 21px 40px 80px 40px;
    border-radius: 20px;
  }
  .create .create_text {
    text-align: center;
    width: 100%;
    padding: 0;
  }
  .create .create_btns {
    justify-content: center;
    gap: 10px;
  }
  .create .create_btns button {
    border-radius: 5px;
    height: 40px;
    font-size: 9px;
    line-height: 15px;
    padding: 5px 20px;
  }
  .create .create_img {
    width: 266px;
    position: absolute;
    bottom: -60%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  footer {
    padding: 30px 0;
  }
  footer .main_container {
    flex-direction: column;
  }
  footer .footer_link {
    gap: 25px;
  }
}
@media only screen and (max-width: 769px) {
  .marketplace .main_card {
    width: calc(50% - 15px);
  }
}
@media only screen and (max-width: 576px) {
  .marketplace .marketplace_btns {
    flex-wrap: wrap;
  }
  .marketplace .main_card {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */